h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #0f3661;
  font-weight: 600;
}

body {
  color: #646a7c;
}
section {
  padding: 4%;
}

@media (max-width: 575px) {
  section {
    padding: 10% 0;
  }
}

.lines1,
.lines2,
.lines3 {
  border-bottom: 1px solid #dbdbdb;

  left: 0;
  margin: auto;
  right: 0;
  text-align: center;
  padding-bottom: 0.4%;
}

.lines1 {
  width: 20%;
}
.lines2 {
  width: 16%;
}
.lines3 {
  width: 11%;
}

