@import "../../../../Sass/Variable.sass";
.about_educare_header_title {
  padding-bottom: 3%;
}

.about_educare_header_title h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 550;
}

.about_educare_header_title h2 span {
  color: $basic-color;
  font-weight: 600;
}

/*  */
.about_educare_header_description h4 {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;

  color: $basic-color;
  letter-spacing: 1px;
}

//   color: #86bc42;
//   letter-spacing: 1px;
// }

.about_educare_header_description p {
  line-height: 24px;
  font-weight: 499;
  padding-bottom: 2%;
}
/*  */
.about_educare_list {
  font-style: italic;
  font-weight: 400 !important;
  color: #646a7cd1;
}

// line part//
.line1,
.line2,
.line3 {
  border-bottom: 1px solid $lines-color;

  padding-bottom: 0.8%;
}
.line1 {
  width: 30%;
}
.line2 {
  width: 25%;
}
.line3 {
  width: 20%;
}
// line part close //
/* media query */
// @media (max-width: 991px) {
//   .about_educare_header_title h2 {
//     font-size: 25px !important;

//   }
/* media query */
@media (max-width: 991px) {
  .about_educare_header_title h2 {
    font-size: 25px;
  }
  .line1 {
    width: 35%;
  }
  .line2 {
    width: 30%;
  }
  .line3 {
    width: 25%;
  }
  .about_educare_header_description h4 {
    font-size: 15px;
    padding: 3% 0;
  }
  .about_educare_header_description p {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .about_educare_title {
    padding: 2% 4%;
  }
  .line1 {
    width: 45%;
  }
  .line2 {
    width: 40%;
  }
  .line3 {
    width: 35%;
  }
  .line1,
  .line2,
  .line3 {
    padding-bottom: 1.3%;
  }
}

// media query close
