@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    // font-family: 'Montserrat', sans-serif;
}

.nav-section{
    background-color: #202020;
}
.nav-area {
    width: 100%;
    padding: 8px 0;
    
}

.logo {
    cursor: pointer;
    height: 60px;
    border-radius: 3px;
}

.nav-links {
    list-style: none;
    float: right;
}

.nav-area ul li {
    display: inline-block;
    line-height: 60px;
    padding: 0px 15px;

}

.nav-area ul li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-area ul li a:hover {
  color: #ee8c1b;
  background-color: #8888a948;
  transition: all 0.5s ease 0s;
}

.btn-area {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 62px;
  cursor: pointer;
  display: none;
}

#box {
  display: none;
}
@media (max-width: 992px){
    .nav-area ul li {
        margin: 0;
        padding: 0px 4px;
    }
}

@media (max-width: 768px) {
    .btn-area {
        display: block;
    }

    .logo {
        padding: 0 10px;
        cursor: pointer;
        height: 50px;
        border-radius: 3px;
    }

    .nav-area {
        width: 100%;
        padding: 7px 0;
    }

    .nav-area ul {
        position: absolute;
        width: 100%;
        background: #202020;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        padding-right: 32px;
    }

    .nav-area ul li {
        display: block;
        margin: 0;
        line-height: 30px;
        padding: 11px 0;

    }

    .nav-area ul li a {
        font-size: 14px;
    }

    .nav-area ul li:hover {
        background: #000;
    }

    .nav-area ul li a:hover {
        background: #8888a948;
    }

    #box:checked~ul {
        left: 0;
    }
}

@media (max-width: 768px){
    .nav-area {
        width: 90%;
        padding: 7px 0;
    }
}
