.photo-frame {
  position: relative;

  overflow: hidden;
}

.photo-frame:hover .photo img {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out 0.1s;
}
.photo-details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  /* transition: transform 2s ease-in-out 2s !important; */
}
.photo-frame:hover .photo-details {
  display: block;

  transition: margin-right 2s ease-in-out;
}
.photo-details:hover {
  transition: all 0.3s ease !important;
  background-color: #86bc42cc;
  padding: 5% 8%;
}

.photo-frame:hover .photo-details small {
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  color: white;
  display: block;
}
.photo-frame:hover .photo-details span {
  font-family: inherit;
  font-weight: 400;
  font-size: 23px;
  color: white;
}
.border_gallery {
  border-bottom: 2px solid white;
  width: 50%;
  margin-top: 3%;
  margin-bottom: 10%;
}

/*  */
#gallery_search_icon {
  color: white;
  font-size: 25px;
  float: right !important;
}
@media (max-width: 396px) {
  .photo-frame:hover .photo-details small {
    font-size: 14px;
  }
  .photo-frame:hover .photo-details span {
    font-size: 16px;
  }
  .border_gallery {
    margin-top: 2%;
    margin-bottom: none;
  }
  #gellery_search_icon {
    font-size: 20px;
  }
}
